{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background Change Automatic - vishak Developer</title>
    <link rel="stylesheet" href="{% static 'css\index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
        integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d1e05f2205.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>

<body>
    <div class="main_top">

        <div class="head-bar">
            <b><i class="fa fa-envelope" aria-hidden="true"></i></b>
            <p>infinity@hydro.com</p>
            <pre><i class="fa fa-phone" aria-hidden="true"></i></pre>
            <h6>+91-8289971258</h6>
            <h4><i>INFINITY HYDROPONICS</i></h4>
            <h5><i>GROWING A HEALTHIER FUTURE</i></h5>






            <img src="{% static 'images\info24.jpg'  %}" alt="">

            <i class="fa fa-home" aria-hidden="true"></i>
            <a href="#">Home</a><i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <a href="#">Shop</a><i class="fa fa-ban" aria-hidden="true"></i>
            <a href="#">Why Us</a><span>&#167;</span>
            <a href="#">Article's</a><span>&#169;</span>
            <a href="#">Projects</a><span>&#9742;</span>
            <a href="#">Contact Us</a>

        </div>
        <div class="smoke">
            <span>H</span>
            <span>y</span>
            <span>d</span>
            <span>r</span>
            <span>o</span>
            <span>p</span>
            <span>o</span>
            <span>n</span>
            <span>i</span>
            <span>c</span>
            <span>s</span>
            <span>&</span>
            <span>A</span>
            <span>q</span>
            <span>u</span>
            <span>a</span>
            <span>p</span>
            <span>o</span>
            <span>n</span>
            <span>i</span>
            <span>c</span>
        </div>
        <div class="name">
            <!-- <h1>WELCOME TO INFINITY</h1>  -->

        </div>

    </div>
    <div class="mid">
        <h4>Hydroponics Farming</h4>
        <p>Hydroponics is a cultivation method that involves the growth of plants using a water-based nutrient solution
            in place of traditional soil.

            This innovative approach can incorporate various growth mediums, such as vermiculite, coconut coir, or
            perlite.
            Hydroponic systems find application among a diverse spectrum of users, including small-scale farmers,
            enthusiasts, and large-scale commercial enterprises.</p>


        <!-- <img src="{% static 'images\info36.jpg' %}" alt="">  -->


        <div class="container">

            <div id="slide">

                <div class="item" style="background-image: url('/static/images/info60.jpg');">

                    <div class="content">
                        <div class="benifits">BENEFITS OF HYDROPONIC FARMING</div>
                        <div class="name">FASTER GROWTH</div>
                        <div class="des">Plants in hydroponics system receive nutrients directly, leading to quick
                            growth rates, shorter crop cycle, and more effecient use of resources.</div>

                    </div>
                </div>
                <div class="item" style="background-image: url('/static/images/info36.jpg');">
                    <div class="content">
                        <div class="benifits">BENEFITS OF HYDROPONIC FARMING</div>
                        <div class="name">HIGHER QUALITY PRODUCE</div>
                        <div class="des">With precise control overnutrient delivery, hydroponics crops often boast
                            better taste, texture, and nutritional content</div>
                        <!-- <button>See more</button> -->
                    </div>
                </div>
                <div class="item" style="background-image: url('/static/images/info46.jpg');">
                    <div class="content">
                        <div class="benifits">BENEFITS OF HYDROPONIC FARMING</div>
                        <div class="name">WATER EFFICIENCY</div>
                        <div class="des">Hydroponic saves 90% more water compared to traditional farming by recycling
                            water, combating water scarity</div>
                        <!-- <button>See more</button> -->
                    </div>
                </div>

                <div class="item" style="background-image: url('/static/images/info48.jpg');">
                    <div class="content">
                        <div class="benifits">BENEFITS OF HYDROPONIC FARMING</div>
                        <div class="name">SPACE OPTIMIZATION</div>
                        <div class="des">Hydroponics setups can be designed to maximize space utilization, making them
                            ideal for urban agriculture or areas with limited arable land.</div>
                        <!-- <button>See more</button> -->
                    </div>
                </div>


                <div class="item" style="background-image: url('/static/images/info47.jpg');">
                    <div class="content">
                        <div class="benifits">BENEFITS OF HYDROPONIC FARMING</div>
                        <div class="name">INCREASED CROP YIELDS</div>
                        <div class="des">Hydroponics provide precise control over nutrient delivery and environment
                            conditions, resulting in higher yields compared to traditional farming.</div>
                        <!-- <button>See more</button> -->
                    </div>
                </div>


            </div>
            <div class="buttons">
                <button id="prev"><i class="fa-solid fa-angle-left"></i></button>
                <button id="next"><i class="fa-solid fa-angle-right"></i></button>
            </div>
        </div>


        <script type="text/javascript" src="{% static 'js/hydro.js' %}"></script>

    </div>

    <!-- OUR SERVICE  -->
    <div class="wrapper">
        <h1>OUR SERVICES</h1>
        <span>Hydroponic Farming:Infinity Hydroponics serves the widest range of solutions for Hydroponics farm setups.
            With a brilliant and exceptional team of Agronomists, Engineers and Agritech experts, We always deliver
            outstanding results for Corporates, Individuals,
            Government Institutions and more.</span>
        <div class="our-box">
            <div class="card">
                <img src="{% static 'images\info62.jpg'  %}" alt="">
                <h2>Outdoor Hydroponics Farm Setup</h2>
                <p>A 360 degree solution for setting up commercially profitable outdoor hydroponics farms that deliver
                    maximum crop yield.</p>
                <a href="abt"><button>Read More</button></a>
            </div>

            <div class="card">
                <img src="{% static 'images\info63.jpg' %}" alt="">
                <h2>Indoor Hydroponics Farm Setup</h2>
                <p>Indoor Farms by Rise Hydroponics, raises crops In an all-round controlled environment monitored by
                    latest technologies.</p>
                <a href="abt"><button>Read More</button></a>
            </div>

            <div class="card">
                <img src="{% static 'images\info64.jpg' %}" alt="">
                <h2>Polyhouse Structure Development</h2>
                <p>We build and Install Hydroponics based Poly house- Farming Setups for growing various seasonal and
                    non-seasonal crops.</p>
                <a href="abt"><button>Read More</button></a>
            </div>

            <div class="card">
                <img src="{% static 'images\info65.jpg' %}" alt="">
                <h2>Live Hydroponic Farming Training & Workshops</h2>
                <p>Learn Hydroponic Farming on multiple operational farms and gain rich insights on crops, setups and
                    scope</p>
                <a href="abt"><button>Read More</button></a>
            </div>

            <div class="card">
                <img src="{% static 'images\info61.jpg' %}" alt="">
                <h2>Subsidy Based Soilless Agriculture Farm</h2>
                <br>
                <p>Avail handsome subsidies by Central & State Governments By installing special soil-less farming
                    systems in your space.</p>
                <a href="abt"><button>Read More</button></a>
            </div>
            <div class="card">
                <img src="{% static 'images\info66.jpg' %}" alt="">
                <h2>Project Development
                </h2><br><br>
                <p>Choose from widest range of Hydroponics Systems and Rise Hydroponics will implement turnkey solutions
                    for all projects.</p>
                <a href="abt"><button>Read More</button></a>
            </div>
        </div>
    </div>

    <!-- farming  -->
    <div class="farming">
        <h1>Hydroponic Farming in India:</h1>
        <p>Hydroponics is a cultivation method that involves the growth of plants using a water-based nutrient solution
            in place of traditional soil. This innovative approach can incorporate various growth mediums, such as
            vermiculite, coconut coir, or perlite.
            Hydroponic systems find application among a diverse spectrum of users, including small-scale farmers,
            enthusiasts, and large-scale commercial enterprises.</p>
        <h1>Vertical Farming in India:</h1>
        <p>Vertical Farming is a modern farming technique where crops are grown in vertically stacked layers instead of
            horizontally. It is carried out in a controlled environment using methods such as aquaponics, hydroponics,
            and aeroponics, which do not rely on soil for cultivation. This innovative approach to farming is gaining
            popularity in India.</p>
        <h2>Our Guarantee</h2>
    </div>
    <!-- farming close -->


    <!-- circular progress bar start       -->


    <div class="all">

        <div class="circle-wrap">
            <div class="circle">
                <!-- first part -->
                <div class="mask full-1">
                    <div class="fill-1"></div>
                </div>
                <!-- 2nd part   -->
                <div class="mask half">
                    <div class="fill-1"></div>
                </div>

                <!-- count number  -->
                <div class="inside-circle">90%</div>

            </div>
        </div>

        <div class="circle-wrap">
            <div class="circle">
                <!-- first part -->
                <div class="mask full-2">
                    <div class="fill-2"></div>
                </div>
                <!-- 2nd part   -->
                <div class="mask half">
                    <div class="fill-2"></div>
                </div>

                <!-- count number  -->
                <div class="inside-circle">70%</div>

            </div>

        </div>


        <div class="circle-wrap">
            <div class="circle">
                <!-- first part -->
                <div class="mask full-3">
                    <div class="fill-3"></div>
                </div>
                <!-- 2nd part   -->
                <div class="mask half">
                    <div class="fill-3"></div>
                </div>

                <!-- count number  -->
                <div class="inside-circle">95%</div>

            </div>
        </div>

        <div class="circle-wrap">
            <div class="circle">
                <!-- first part -->
                <div class="mask full-4">
                    <div class="fill-4"></div>
                </div>
                <!-- 2nd part   -->
                <div class="mask half">
                    <div class="fill-4"></div>
                </div>

                <!-- count number  -->
                <div class="inside-circle">75%</div>

            </div>
        </div>





    </div>
    <!-- Guarantee names start  -->
    <div class="Guarantee">
        <h2>Save Water</h2>
        <h3>Save Space</h3>
        <h4>Healthier</h4>
        <h5>Increased Yield </h5>

        <!-- Guarantee names ends  -->

    </div>


    <!-- cover photo start  -->
    <div class="cover-photo">

        <img src="{% static 'images\info3.jpg' %}" alt="">

    </div>
    <!-- cover photo close  -->

    <!-- card slider start  -->


    <div class="swiper mySwiper">
        <h6>ROBUST PROCESS FOR PROFITABLE COMMERCIAL HYDROPONICS FARMING</h6>
        <div class="cardslider">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="box">
                        <div class="img">
                            <img src="{% static 'images\info46.jpg'  %}" alt="">
                        </div>
                        <div class="info">
                            <h2>Crop Selection Framework</h2>
                            <p> <br>Assisting our clients in picking right crops as per the market demographics where
                                they plan to be a market leader. <br><br><br></p>
                            <a href="abt"><button>Read More</button></a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="box">
                        <div class="img">
                            <img src="{% static 'images\info70.jpg'  %}" alt="">
                        </div>
                        <div class="info">
                            <h2>Assistance in Raising Funds</h2>
                            <p> <br>Infinity Hydroponics has taken initiatives to help its clients realise the full
                                potential of their projects.<br><br><br><br></p>
                            <a href="abt"><button>Read More</button></a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="box">
                        <div class="img">
                            <img src="{% static 'images\info71.jpg'  %}" alt="">
                        </div>
                        <div class="info">
                            <h2>Project Design and Site Planning</h2>
                            <p>Lays down the framework for optimal use of available resources, like land, labour,
                                capital, water, electricity
                                and modern techniques<br><br><br></p>
                            <a href="abt"><button>Read More</button></a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="box">
                        <div class="img">
                            <img src="{% static 'images\info52.jpg'  %}" alt="">
                        </div>
                        <div class="info">
                            <h2>Crops Management</h2>
                            <p><br>The crops sown,
                                go through multiple stages of growth and it becomes all the more important to manage the
                                crops in suitable
                                temperature conditions. <br><br></p>
                            <a href="abt"><button>Read More</button></a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="box">
                        <div class="img">
                            <img src="{% static 'images\info72.jpg'  %}" alt="">
                        </div>
                        <div class="info">
                            <h2>Project Development</h2>
                            <p><br>Helps in smooth functioning and precise monitoring of pre designed steps
                                for project development as well as commissioning. <br><br><br></p>
                            <a href="abt"><button>Read More</button></a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="box">
                        <div class="img">
                            <img src="{% static 'images\info73.jpg'  %}" alt="">
                        </div>
                        <div class="info">
                            <h2>Operational Training Modules</h2>
                            <p><br>Performing multiple manoeuvres, demands precise handling of the equipment as well as
                                running performance checks on the Nutrient Operating Systems that are too vital for
                                the nourishment of crops </p>
                            <a href="abt"><button>Read More</button></a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="box">
                        <div class="img">
                            <img src="{% static 'images\info75.jpg'  %}" alt="">
                        </div>
                        <div class="info">
                            <h2>AMC and Assistance in Marketing</h2>
                            <p>Infinity Hydroponics utmost care for the clients’
                                project further adds trust to its holistically designed AMC Under the Annual Maintenance
                                Contract(AMC)<br><br></p>
                            <a href="abt"><button>Read More</button></a>
                        </div>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="box">
                        <div class="img">
                            <img src="{% static 'images\info76.jpg'  %}" alt="">
                        </div>
                        <div class="info">
                            <h2>Techno-Economic Feasibility Study</h2>
                            <p>A detailed project report on multiple technical and financial indicators considered for
                                setting up of Hydroponics Project.<br><br><br></p>
                            <a href="abt"><button>Read More</button></a>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>

        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

        <h5>GOOD REASONS TO CHOOSE INFINITY HYDROPONIC FARMING</h5>

    </div>

    <!-- card slider end  -->

    <!-- coll start  -->

    <div class="coll">

        <div class="columm">
            <img src="{% static 'images\info80.jpg' %}" alt="">
            <h1>Well Recognised Team Of Agronomists</h1><br>
            <p><br>Infinity Hydroponics assigns a brilliant team of agronomists and agriculture experts on your
                hydroponics projects.
                They share knowledge and expertise on crops selection, growing mediums and nutrition preparation</p>
        </div>
        <div class="columm">
            <img src="{% static 'images\info81.jpg' %}" alt="">
            <h1>Expertise in Large Scale Hydroponics Project Development</h1><br>
            <p>With our high performing teams of Civil Engineers and Structure Specialists, we commission hydroponics
                project setups of all sizes across various climatic zones of India.</p>
        </div>
        <div class="columm">
            <img src="{% static 'images\info82.jpg' %}" alt="">
            <h1>Extended Support Till Last Mile Delivery</h1>
            <p><br><br>Right from harvesting the seedlings to raising healthy crops and gaining the output, Infinity
                Hydroponics stays by your side. But there's more to it.
                We'll even help you with storage, packaging and transportation of the crops</p>
        </div>
        <div class="columm">
            <img src="{% static 'images\info83.jpg' %}" alt="">
            <h1>Support In Assessment Of Project Feasibility Support</h1>
            <p><br>Our In-house team of Financial Experts and hydroponics consultants,
                support you in assessment of all the technical and financial indicators of the project site.</p>
        </div>

    </div>
    <!-- coll ends  -->

    <!-- images-sixbox starts  -->
    <div class="images-sixbox">
        <img src="{% static 'images\info90.jpg' %}" alt="">
    </div>

    <!-- images-sixbox ends  -->


    <!-- six box starts  -->
    <div class="six-box">

        <div class="row">

            <h1>NEW OPPORTUNITIES WITH HYDROPONIC FARMING</h1>
            <div class="column-2">
                <h6>Supermarkets</h6>
                <p>To expand the access of hydroponically grown crops to masses, supermarket chains have also come
                    forward to partner with hydroponics farm owners.</p>
            </div>
            <div class="column-2">
                <h6>Community Spaces</h6>
                <p>A large number of Residential Societies, Malls and Clubs, have started utilising their rooftops and
                    spaces for installation of hydroponics setups.</p>
            </div>
            <div class="column-2">
                <h6>Grow At Home</h6>
                <p>With an increase in work from home, people have shown greater love for growing their favourite crops
                    in DIY (Do It Yourself) Hydroponics Home Kits.</p>
            </div>

        </div>
        <div class="row">
            <div class="column-2">
                <h6>Exotic Crops</h6>
                <p>Herbs, and Fruits that are grown using hydroponics,This method allows for a quicker harvest, but on
                    special
                    customised orders, sell at a
                    premium and an opportunity in exports of agricultural produce.</p>
            </div>
            <div class="column-2">
                <h6>Hotels|Restaurants rising demand</h6>
                <p>Rising popularity of online food delivery startups has raised the competition almost everywhere. To
                    address this, all the players of HoReCa segment have turned. Full fledged use of Hydroponics crops
                    that help</p>
            </div>
            <div class="column-2">
                <h6>Maturing Markets for herbs</h6>
                <p>Domestic as well as international demand for rare and exotic herbs has given a big boost to
                    widespread distribution of herbs like Italian Parsley, Lemongrass, Rosemary, Oregano and many more
                </p>
            </div>

        </div>
    </div>

    <!-- six box ends  -->

    <!-- infinity autoplay slider starts  -->
    <div class="slider">
        <h1>OUR DIFFERENT HYDROPONICS SYSTEMS</h1>
        <div class="slide-track">

            <!-- 9 SLIES  -->

            <div class="slide-infinite">
                <img src="{% static 'images\info138.jpg' %}" alt="">
                <h6>A- Frame(NFT)</h6>
            </div>
            <div class="slide-infinite">
                <img src="{% static 'images\info95.jpg' %}" alt="">
                <h6>Flat-Bed(NFT)</h6>
            </div>
            <div class="slide-infinite">
                <img src="{% static 'images\info140.jpg' %}" alt="">
                <h6>Dutch Bucket System</h6>
            </div>
            <div class="slide-infinite">
                <img src="{% static 'images\info141.jpg' %}" alt="">
                <h6>Vertical Tower System</h6>
            </div>
            <div class="slide-infinite">
                <img src="{% static 'images\info142.jpg' %}" alt="">
                <h6>DWC-RDWC System</h6>
            </div>
            <div class="slide-infinite">
                <img src="{% static 'images\info143.jpg' %}" alt="">
                <h6>Grow Bag System</h6>
            </div>
            <div class="slide-infinite">
                <img src="{% static 'images\info144.jpg' %}" alt="">
                <h6>Vertigo Tower System</h6>
            </div>
            <div class="slide-infinite">
                <img src="{% static 'images\info146.jpg' %}" alt="">
                <h6>Kratky Method</h6>
            </div>
            <div class="slide-infinite">
                <img src="{% static 'images\info103.jpg' %}" alt="">
                <h6>Wick System with Reservoir</h6>
            </div>

        </div>
    </div>

    <!-- infinity autoplay slider ends  -->

    <!-- footer image starts  -->
    <div class="footer-image">
        <img src="{% static 'images\info151.jpg' %}" alt="">
        <h2>COME LET’S BECOME “AMBASSADORS OF THE NEW FARM REVOLUTION”</h2>
        <h5>The Hydroponics Revolution.</h5>

    </div>



    <div class="email-cnt">

        <div class="contact">
            <h2>Contact Us!</h2>

            <form action="#">
                <div class="input-box">
                    <div class="input-field field">
                        <input type="text" placeholder="Full Name" id="name" class="item-email" autocomplete="off">
                        <div class="error-txt">Full Name can't be blank</div>
                    </div>

                    <div class="input-field field">
                        <input type="text" placeholder="Email Address" id="email" class="item-email" autocomplete="off">
                        <div class="error-txt email">Email Address can't be blank</div>
                    </div>
                </div>

                <div class="input-box">
                    <div class="input-field field">
                        <input type="text" placeholder="Phone Number" id="phone" class="item-email" autocomplete="off">
                        <div class="error-txt ">Phone Number can't be blank</div>
                    </div>
                    <div class="input-field field">
                        <input type="text" placeholder="Subject" id="subject" class="item-email" autocomplete="off">
                        <div class="error-txt">Subject can't be blank</div>
                    </div>
                </div>
                <div class="textarea-field field">
                    <textarea name="" id="message" cols="30" rows="10" placeholder="Your Message" class="item-email"
                        autocomplete="off"></textarea>
                    <div class="error-txt">Message can't be blank</div>
                </div>
                <button type="submit">Send Message</button>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://smtpjs.com/v3/smtp.js"></script>
        <script type="text/javascript" src="{% static 'js/contact.js' %}"></script>



    </div>
    <div class="us">
        <h1>WHO WE ARE</h1>
        <p>Infinity Hydroponics is the Largest CEA (Controlled Environment Agriculture) and EPC (Engineering,
            Procurement & Construction) Project Developers in Hydroponic Farming and Soil less Farming.
            Its’ out-of-the-box technology solutions and unique methods are Successfully operating all across India.</p>
        <h2>LET’S RISE TOGETHER</h2>
        <p>Infinity Hydroponics feels it has an important responsibility, to combat the issues of water shortage and
            unhealthy food.</p>
        <p>Well, it makes us proud to say that we are committed to spread the benefits of Hydroponic Farming far and
            wide across our whole nation.</p>
        <p>Every day we dedicate our growth to the positive change brought by our work</p>
        <p>We believe that with Hard Work, Sheer dedication and strict commitment</p>
        <p>To serving healthy food quality, we will always strive to be</p>
        <h3>“A Highly Responsible Hydroponic Farming company of India”.</h3>



       

    </div>





    <section class="footer">
        <div class="footer-content">
          
            <h4>INFINITY</h4>
          
            <p>Infinity Hydroponics is a prominent producer company registered under the Companies Act, 1956. A Highly
                Responsible Hydroponic Farming company of India</p>
                <img src="{% static 'images/info500.jpg' %}" alt=""> 

            <div class="icons">
                <a href="abt"><i class='bx bxl-facebook-circle'></i></a>
                <a href="abt"><i class='bx bxl-twitter'></i></a>
                <a href="abt"><i class='bx bxl-instagram-alt'></i></a>
                <a href="srv"><i class='bx bxl-youtube'></i></a>
            </div>
        </div>

        <div class="footer-content">
            <h4>Projects</h4>
            <li><a href="srv"></a><i class='bx bxs-right-arrow-circle'></i>&nbsp;&nbsp;Soilless Hydroponics</li>
            <li><a href="#"></a><i class='bx bxs-right-arrow-circle'></i>&nbsp;&nbsp;Grow Bag Farms</li>
            <li><a href="#"></a><i class='bx bxs-right-arrow-circle'></i>&nbsp;&nbsp;Water Cress Farms</li>
            <li><a href="abt"></a><i class='bx bxs-right-arrow-circle'></i>&nbsp;&nbsp;Orgeens Farm</li>
            <li><a href="abt"></a><i class='bx bxs-right-arrow-circle'></i>&nbsp;&nbsp;Herbshire</li>
            <li><a href="abt"></a><i class='bx bxs-right-arrow-circle'></i>&nbsp;&nbsp;Pluck Products </li>

        </div>
        

        <div class="footer-content">
            <h4>Quick Links</h4>
            <li><a href="#"></a><i class='bx bxs-right-arrow-circle'></i>&nbsp;&nbsp;Home</li>
            <li><a href="#"></a><i class='bx bxs-right-arrow-circle'></i>&nbsp;&nbsp;About Us</li>
            <li><a href="#"></a><i class='bx bxs-right-arrow-circle'></i>&nbsp;&nbsp;Our Services</li>
            <li><a href="abt"></a><i class='bx bxs-right-arrow-circle'></i>&nbsp;&nbsp;Blog</li>
            <li><a href="abt"></a><i class='bx bxs-right-arrow-circle'></i>&nbsp;&nbsp;Contact</li>
            <li><a href="abt"></a><i class='bx bxs-right-arrow-circle'></i>&nbsp;&nbsp;Terms & Conditions</li>
        </div>

        <div class="footer-content">
            <h4>Our Guarantee</h4>
            <li><a href="#"></a><i class='bx bxs-right-arrow-circle'></i>&nbsp;&nbsp;Save Water</li>
            <li><a href="#"></a><i class='bx bxs-right-arrow-circle'></i>&nbsp;&nbsp;Save Space</li>
            <li><a href="#"></a><i class='bx bxs-right-arrow-circle'></i>&nbsp;&nbsp;Healthier</li>
            <li><a href="#"></a><i class='bx bxs-right-arrow-circle'></i>&nbsp;&nbsp;Increased Yield</li>
        </div>

        <div class="footer-content">
            <h4>Our Services</h4>

            <li><a href="#"></a><i class='bx bxs-right-arrow-circle'></i>&nbsp;&nbsp;Crop Selection Framework</li>
            <li><a href="#"></a><i class='bx bxs-right-arrow-circle'></i>&nbsp;&nbsp;Assistance in raising funds</li>
            <li><a href="#"></a><i class='bx bxs-right-arrow-circle'></i>&nbsp;&nbsp;Project Design</li>
            <li><a href="#"></a><i class='bx bxs-right-arrow-circle'></i>&nbsp;&nbsp;Project Development</li>
            <li><a href="#"></a><i class='bx bxs-right-arrow-circle'></i>&nbsp;&nbsp;Crop Management</li>
            <li><a href="#"></a><i class='bx bxs-right-arrow-circle'></i>&nbsp;&nbsp;Operational Training</li>
            <li><a href="#"></a><i class='bx bxs-right-arrow-circle'></i>&nbsp;&nbsp;AMC and Assistance</li>
            <li><a href="#"></a><i class='bx bxs-right-arrow-circle'></i>&nbsp;&nbsp;Techno-Economic Feasibility </li>


            
        </div>
        
    </section>










</body>

</html>